<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Thank You!</title>
  </head>
  <body>
    <div class="container">
      <form action="/submit" method="POST">
        <img src="../static/feedback_2.png" alt="" class="logo" />
        <h1>One Last Question!</h1>
        <h3>Have you seen Breaking Bad?  Our Guess: {{ guess }}</h3>
        <input type="radio" name="Q7" value="Yes" /> Yes
        <input type="radio" name="Q7" value="No" /> No
        <h2>Current Model Stats</h2>
        <p>Model Fit Accuracy: {{ accuracy }}</p>
        <p>Training Data Set Size: {{ entries }} Entries</p>
        <p>Feature Set Size: {{ features }} Features</p>
        <input type="submit" value="submit" class="btn" />
      </form>
    </div>
  
  

  </body>
</html>
